<h1>Home#index</h1>
<p>Welcome to my app!</p>
<p>
	<button id="modal-link">Steve Quote</button>
</p>
<div id="modal-background">
	<div id="modal-window">
		<p class="modal-text">Hi!</p>
		<a href="#" class="close">Close</a>
	</div>
</div>