<div>
		<%= link_to 'Sign in', new_hacker_session_path %>
		<%= link_to 'Sign up', new_hacker_registration_path %>
	<div>
		<p class="notice">
			<%= notice %>
		</p>
		<p class="alert">
			<%= alert %>
		</p>
	</div>
</div>